<!-- templates/main/view_courses.html -->

{% extends 'main/base.html' %}

{% block title %}Просмотр курсов{% endblock %}

{% block content %}
   <h1>Курсы</h1>
<form method="GET" action="{% url 'view_courses' %}" class="search">
    <input type="text" name="q" value="{{ search_query }}" placeholder="Поиск по названию" class="filter">
    <button type="submit" class="func-btn-edit">Искать</button>
</form>


{% for course in courses %}
<div class="student-info">
    Название: {{ course.course_name }}<br>
    Длительность: {{ course.duration }} часов<br>
    Тип курса: {{ course.course_type.course_type }}<br>

    <div class="func-btns">
            <a href="{% url 'course_info' course.id %}" class="func-btn-info" ><i class="gg-eye-alt"></i></a>


    </div>


</div>
<div class="centered-bar"></div>


{% endfor %}

{% endblock %}